
.container-fluid{
  padding-left: 70px;
  padding-right: 20px;
}

.list-group-item.active{
  background-color: forestgreen;
  border-color: forestgreen;
  font-size: 2em;
}

.list-group-item{
  font-size: 1.3em;
}

