<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card border-0 shadow p-3">
        <div class="mb-3 text-center">
          <h2 class="text-center">Shipping Form</h2>
        </div>
        <div class="mb-3">
          <label for="name">Your Name</label>
          <input type="text" placeholder="John Doe" class="form-control" id="name" name="name" [(ngModel)]="name">
        </div>
        <div class="mb-3">
          <label for="country">Country</label>
          <input type="text" placeholder="Romania" class="form-control" id="country" name="country" [(ngModel)]="country">
        </div>
        <div class="mb-3">
          <label for="city">City</label>
          <input type="text" placeholder="Timisoara" class="form-control" id="city" name="city" [(ngModel)]="city">
        </div>
        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" placeholder="25 Saturn Street" class="form-control" id="address" name="address" [(ngModel)]="address">
        </div>
        <div class="mb-3">
          <label for="phone">Phone number</label>
          <input type="text" placeholder="0936789155" class="form-control" id="phone" name="phone" [(ngModel)]="phone">
        </div>

        <button [disabled]="cartItemsNumber==0" (click)="addOrder()" type="button" class="btn btn-success">Place order</button>

      </div>

    </div>

    <div class="col-md-8 mt-5">

      <div class="card p-3">
        <h2 class="text">Shopping Cart Summary</h2>
        <div class="card-body shadow">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Quantity</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Price/Item</th>
              <th scope="col">Category</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <h2 *ngIf="isCartEmpty(); else cartView">Your shopping cart is empty</h2>
            <ng-template #cartView>
              <tr *ngFor="let cartItem of cartItemList">
                <td>{{cartItem.quantity}}</td>
                <td><img [src] = "cartItem.image" alt="Item image"></td>
                <td>{{cartItem.name}}</td>
                <td>{{cartItem.price}}</td>
                <td>{{cartItem.category}}</td>
                <td>
                  <button class="btn btn-outline-danger" (click)="removeFromCart(cartItem)">Remove from cart</button>
                </td>
              </tr>

            </ng-template>
            </tbody>
          </table>
        </div>
        <div class="row" id="total" *ngIf="!isCartEmpty()">
          <div class="col-md-6"><h2>Total number of items: {{cartItemsNumber}}</h2></div>
          <div class="col-md-6"><h2>Total Price: {{totalPrice | currency}}</h2></div>
        </div>

      </div>
    </div>


  </div>

  <div class="row-cols-1"><h3>Green Store</h3></div>
  <div class="row-cols-1"><h3>Green Store</h3></div>

</div>





