<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Green  Shop Logo"
    [src]="'assets/images/fruit-logo.png'"
  />

  <span>Green Shop</span>
  <div class="spacer">
  </div>
  <i class="bi bi-person"></i>
<!--  Dropdowns-->
  <div class="row">
    <div class="col-sm-1">
      <mat-icon>person</mat-icon>
    </div>
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>My Account</button>
        <div *ngIf="!isLoggedIn() && !isLoggedInAsAdmin(); else elseBlock" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/login">Log In</button>
          <button ngbDropdownItem routerLink="/register">Register</button>
          <button ngbDropdownItem routerLink="/adminLog">Admin Panel</button>
        </div>
        <ng-template #elseBlock>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="logout()">Log out</button>
          </div>
        </ng-template>

      </div>
    </div>

    <div class="col"  *ngIf="isLoggedInAsAdmin(); else elseBlock2">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-secondary" id="dropdownBasic3" ngbDropdownToggle>Admin Panel</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button ngbDropdownItem routerLink="/usersView">View Users</button>
          <button ngbDropdownItem routerLink="/shopView">Manage Shop</button>
          <button ngbDropdownItem>Manage Orders</button>
        </div>
      </div>
    </div>

    <ng-template #elseBlock2>
      <div class="col-sm-1">
        <mat-icon [matBadge] = "getCartItems()" [matBadgeHidden] = "hideBadge" >shopping_cart</mat-icon>
      </div>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-secondary" id="dropdownBasic2" ngbDropdownToggle>Shopping Cart</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button ngbDropdownItem>View Shopping Cart</button>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>

  <!--  login &shopping cart drop down buttons-->

</div>

